
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.First_Name}}" placeholder="First Name" name="First_Name">
    <label for="floatingInput">First Name</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.Last_Name}}" placeholder="Last Name" name="Last_Name">
    <label for="floatingInput">Last Name</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="email" class="form-control" id="floatingInput" value="{{this.email}}" placeholder="email@email.com" name="email">
    <label for="floatingInput">Email</label>
  </div>
</div>
<div class="col-6">
  <div class="form-floating mb-3">
    <input type="text" class="form-control" id="floatingInput" value="{{this.phone}}" placeholder="Phone" name="phone">
    <label for="floatingInput">Phone</label>
  </div>
</div>
<div class="col-12">
  <div class="form-floating mb-3">
    <textarea type="text" class="form-control" id="floatingInput" placeholder="Comments" name="comments" style="height:200px">
      {{this.comments}}
    </textarea>
    <label for="floatingInput">Comments</label>
  </div>
</div>
<div class="col-12 d-grid" >
  <button class="btn btn-primary " type="submit">Submit</button>
</div>